// $white:    #fff !default;
// $gray-100: #fafafa !default;
// $gray-200: #f9f8fc !default;
// $gray-300: #ededed !default;
// $gray-400: #cbc8d0 !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #444 !default;
// $gray-800: #343a40 !default;
// $gray-900: #17141f !default;
// $black:    #000 !default;

// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #593196 !default;
// $pink:    #e83e8c !default;
// $red:     #fc3939 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #efa31d !default;
// $green:   #13b955 !default;
// $teal:    #20c997 !default;
// $cyan:    #009cdc !default;

// $primary:       $blue !default;
// $secondary:     #a991d4 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

// // Options

// $enable-rounded: false !default;

// // Body

// // $body-bg: #f5f5f5;
// // $body-bg: #DDDDDD;
// // $body-bg: #e5e5e5;
$body-bg: #f7f8fa;


// $body-color:                $gray-700 !default;

// // Links

// $link-hover-color:          $primary !default;

// // Fonts

// $font-size-base:              .875rem !default;

// // Tables

// $table-border-color:          rgba(0, 0, 0, .05) !default;

// // Forms

// $input-focus-border-color:              $primary !default;

// // Dropdowns

// $dropdown-link-color:               $gray-700 !default;
// $dropdown-link-hover-color:         $white !default;
// $dropdown-link-hover-bg:            $primary !default;

// // Navs

// $nav-tabs-border-color:             $gray-300 !default;
// $nav-tabs-link-hover-border-color:  $primary !default;

// // Navbar


// $navbar-dark-hover-color:           rgba($white, .9) !default;
// $navbar-dark-active-color:          rgba($white, .9) !default;
// $navbar-light-color:                rgba($black, .4) !default;
// $navbar-light-active-color:         rgba($black, .7) !default;
// $navbar-light-disabled-color:       rgba($black, .2) !default;

// // Progress bars

// $progress-bg:                       $gray-300 !default;
// $progress-bar-bg:                   $primary !default;

// // List group

// $list-group-bg:                     $gray-900 !default;
// $list-group-border-color:           transparent !default;
// $list-group-hover-bg:               lighten($list-group-bg, 10%) !default;
// $list-group-active-color:           $white !default;
// $list-group-active-bg:              $list-group-bg !default;
// $list-group-disabled-color:         lighten($list-group-bg, 30%) !default;

$font-size-sm: 0.875rem;


// $web-font-path: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap" !default;
// @import url($web-font-path);

// // Navbar ======================================================================

.navbar {
  font-size: $font-size-sm;
  font-weight: 600;

  &-brand {
    margin-right: 2rem;
  }
}

// .bg-primary {
//   background-color: theme-color("primary") !important;
// }

// .bg-light {
//   border: 1px solid rgba(0, 0, 0, .1);

//   &.navbar-fixed-top {
//     border-width: 0 0 1px;
//   }

//   &.navbar-bottom-top {
//     border-width: 1px 0 0;
//   }
// }

// // Buttons =====================================================================

// .btn {
//   font-size: $font-size-sm;
//   text-transform: uppercase;
  
//   &-sm {
//     font-size: 10px;
//   }

//   &-warning {
//     &,
//     &:hover,
//     &:not([disabled]):not(.disabled):active,
//     &:focus {
//       color: $white;
//     }
//   }
// }

// .btn-outline-secondary {
//   border-color: $gray-600;
//   color: $gray-600;

//   &:not([disabled]):not(.disabled):hover,
//   &:not([disabled]):not(.disabled):focus,
//   &:not([disabled]):not(.disabled):active {
//     background-color: $gray-400;
//     border-color: $gray-400;
//     color: $white;
//   }

//   &:not([disabled]):not(.disabled):focus {
//     box-shadow: 0 0 0 .2rem rgba($gray-400, .5);
//   }
// }

// [class*="btn-outline-"] {
//   border-width: 2px;
// }

// .border-secondary {
//   border: 1px solid $gray-400 !important;
// }

// // Typography ==================================================================

// body {
//   font-weight: 200;
//   letter-spacing: 1px;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   text-transform: uppercase;
//   // letter-spacing: 3px;
// }

// .text-secondary {
//   color: $body-color !important;
// }

// // Tables ======================================================================

// th {
//   font-size: $font-size-sm;
//   text-transform: uppercase;
// }

// .table {
//   th,
//   td {
//     padding: 1.5rem;
//   }

//   &-sm {
//     th,
//     td {
//       padding: .75rem;
//     }
//   }
// }

// // Forms =======================================================================

// .custom-switch {
//   .custom-control-label {
//     &::after {
//       top: add(.15625rem, 2px);
//       left: add(-2.25rem, 2px);
//       width: subtract(1rem, 4px);
//       height: subtract(1rem, 4px);
//     }
//   }
// }

// // Navs ========================================================================

// .dropdown-menu {
//   font-size: $font-size-sm;
//   text-transform: none;
// }

// // Indicators ==================================================================

// .badge {
//   padding-top: .28rem;

//   &-pill {
//     border-radius: 10rem;
//   }
// }

// // Containers ==================================================================

// .list-group-item {
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   .h1,
//   .h2,
//   .h3,
//   .h4,
//   .h5,
//   .h6 {
//     color: inherit;
//   }
// }

// .card {
//   &-title,
//   &-header {
//     color: inherit;
//   }
// }


// ::-webkit-input-placeholder {
//   font-size: 13px!important;
// }

// :-moz-placeholder { /* Firefox 18- */
//      font-size: 13px!important;
// }
// ::-moz-placeholder {  /* Firefox 19+ */
//      font-size: 13px!important;
// }


@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

p{
  margin: 0px;
}

// body{
//   font-family: Poppins;
// }

//Vue Multi select CSS

.multiselect__select {
  top: 4px;
}
.multiselect__placeholder {
  color: #6c757d;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.multiselect__content-wrapper {
  border: 1px solid #8a92a3;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.multiselect__tags {
  min-height: 44px;
  padding: 10px 40px 0 8px;
  border-radius: 2px;
  border: 1px solid #8a92a3;
  .multiselect__tag {
    padding: 6px 26px 6px 10px;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 4px;
    .multiselect__tag-icon {
      border-radius: 2px;
    }
  }
}













.signup-testimonials {
  width: 100%;
  max-width: 540px;
}

.panel-bg{
background-color: #ebecf2!important;
}