$font-size-sm: 0.875rem;

.navbar {
  font-size: $font-size-sm;
  font-weight: 600;

  &-brand {
    margin-right: 2rem;
  }
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

p{
  margin: 0px;
}

//Vue Multi select CSS

.multiselect__select {
  top: 4px;
}
.multiselect__placeholder {
  color: #6c757d;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.multiselect__content-wrapper {
  border: 1px solid #8a92a3;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.multiselect__tags {
  min-height: 44px;
  padding: 10px 40px 0 8px;
  border-radius: 2px;
  border: 1px solid #8a92a3;
  .multiselect__tag {
    padding: 6px 26px 6px 10px;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 4px;
    .multiselect__tag-icon {
      border-radius: 2px;
    }
  }
}













.signup-testimonials {
  width: 100%;
  max-width: 540px;
}

.panel-bg{
background-color: #ebecf2!important;
}